exceptiongroup==1.0.0rc9
executing==1.2.0
fastjsonschema==2.18.0
firebase-admin==6.5.0
Flask==3.0.3
fonttools==4.37.1
gcloud==0.18.3
gitdb==4.0.9
GitPython==3.1.27
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-generativeai==0.5.4
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
